<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Dream 11 Team Generator</title>
    <style type="text/css" media="print">
      #home_id{
        display: none;
      }
      #vp_panel
      {
        display: none;
      }
    </style>
  </head>
  <body>
    <nav  style="background-color:#1a0000; color:white;">
        <div class="container" id="vp_panel">
           <div class="d-flex align-items-center"> <img src="dream11_images/dream11_logo.jpg" class="mt-4" width="130px" height="30px" alt=""><h3 class="mt-4 pt-1 ml-2">- Team Generator</h3></div>
            <div class="d-flex justify-content-around">
                <div >
                    <img  width="326px" height="243px" src="dream11_images/dream11_player_logo.jpg" alt=""> 
                </div>
               <div>
                   <img  width="90px" height="68px" src="dream11_images/dream11_ipl.jpg" alt="">
                   <div style="text-align: center;">
                       <br>
                       <h3>Developed </h3>
                       <h3>By</h3>
                        <img src="dream11_images/believer01.jpg" width="160px" height="40px" style="border-radius: 10px;">
                   </div>
               </div>
            </div>
        </div>
    </nav>
      <h6 class="text-center mt-2">This was the updated version 2.0, developed by Believer 01 , presented to santosh </h6>
      <h6 class="text-center">All rights reserved, &copy;Believer 01</h6>
    <!-- array csk-1 , rcb - 2 , srh -3 , mi - 4, kxip-5, dc - 6, rr-7, kkr-8-->
    <div class="d-flex jusitfy-content-around align-items-start">
      <div class="d-flex flex-column">
        <div class="ml-4">
          <span class="btn btn-primary mt-4 ml-4" id="home_id"> go to Home</span>
        </div>
        <div class="ml-4">
          <span class="btn btn-success mt-4 ml-4" id="refresh_id"> check updates</span>
          <br>
          <br>
          <div style="width: 120px;" class="ml-4 text-center">
            <span>keep in mind checking for updates will reset player data i.e player credits and player role</span>
          </div>
        </div>
      </div>
      <div class="container">
        <!--error part start-->
        <div class="alert alert-danger text-center mt-4" id="danger_alert" style="display: none;" role="alert">
          </div>
        <!--error part end-->
        <!--success  start-->
        <div class="alert alert-success text-center mt-4" id="success_alert" style="display: none;" role="alert">
        </div>
      <!-- success end-->
        <!-- intro selecting panel start-->
        <div class="card mt-4" id="first_panel">
            <div class="card-header text-center">
             Dream 11 Team Generator
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Choose Match or Result of the Previous Match</h5>
              <br><br>
              <div class="container d-flex justify-content-around p-4 flex-wrap align-items-center" style="width:600px">
                <span class="btn btn-primary m-4" id="choose_type">Choose Match</span>
                <span class="btn btn-success m-4" id="match_result">Match Result</span>
                <span class="btn btn-info m-4" id="change_player_data">Change Player Data</span>
                <span class="btn btn-danger m-4" id="custom_match">Custom Match</span>
              </div>
              <br>
            </div>
        </div>
        <!-- intro selecting panel end-->
        <!-- custom panel start-->
        <div class="card mt-4" id="custom_panel" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Custom Match Generation</h5>
            <br><br>
            <h1 class="text-center">Still Under Development</h1>
            <h6 class="text-center">kindly ask for the developer for details of update 2.0</h6>
            <br>
          </div>
      </div>
      <!-- custom panel end-->
      <!-- change palyer start-->
      <div class="card mt-4" id="change_player" style="display: none;">
        <div class="card-header text-center">
         Dream 11 Team Generator
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Change player credits or player role </h5>
          <h6 class="card-title text-center">player role 1-wk, 2-bat , 3-al , 4 - bowl</h6>
          <br><br>
          <div class="d-flex flex-column justify-content-center mr-auto ml-auto align-items-center" id="change_player_placer" style="width: 1000px;">
            
          </div>
          <br>
          <br>
          <div class="text-center">
            <span class="btn btn-success" id="change_player_update">Update</span>
          </div>
          <br>
        </div>
    </div>
    <!-- change player end-->
        <!--Choose series panel start-->
        <div class="card mt-4" id="choose_series" style="display: none;">
            <div class="card-header text-center">
             Dream 11 Team Generator
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">Choose Series</h5>
              <br>
              <div class="mr-auto ml-auto d-flex justify-content-around align-items-center" style="width:400px;" id="series_placer">
                   
              </div>
              <div class="text-center">
                  <br><br>
                <span class="btn btn-success" id="series_continue">Continue</span>
              </div>
              <br>
            </div>
        </div>
        <!--Choose series panel end-->
        <!--Choose series result panel start-->
        <div class="card mt-4" id="choose_series_result" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Choose Series</h5>
            <br>
            <div class="d-flex justify-content-between mr-auto ml-auto align-items-center flex-wrap" style="width: 200px;" id="series_placer_result">
             
            </div>
            <div class="text-center">
                <br><br>
              <span class="btn btn-success" id="series_continue_result">Continue</span>
            </div>
            <br>
          </div>
      </div>
      <!--Choose series result panel end-->
      <!--Match result series start-->
      <div class="card mt-4" id="match_result_series" style="display: none;">
        <div class="card-header text-center">
         Dream 11 Team Generator
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Choose Series</h5>
          <br>
          <div class="d-flex justify-content-between mr-auto ml-auto align-items-center flex-wrap" style="width: 200px;" id="match_result_series_placer">
           
          </div>
          <div class="text-center">
              <br><br>
            <span class="btn btn-success" id="match_result_series_continue">Continue</span>
          </div>
          <br>
        </div>
    </div>
    <!--Match result series end-->
      <!-- change player data team start-->
      <div class="card mt-4" id="change_player_data_panel" style="display: none;">
        <div class="card-header text-center">
         Dream 11 Team Generator
        </div>
        <div class="card-body">
          <h5 id="series_name"></h5>
          <h5 class="card-title text-center">Choose Team</h5>
          <br>
          <div class="d-flex justify-content-between mr-auto ml-auto align-items-center flex-wrap" style="width: 200px;" id="change_player_data_placer">
           
          </div>
          <div class="text-center">
              <br><br>
            <span class="btn btn-success" id="change_player_data_continue">Continue</span>
          </div>
          <br>
        </div>
    </div>
    <!--change player data team end-->
         <!--Choose Match panel start-->
         <div class="card mt-4" id="choose_match" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 id="series_name"></h5>
            <h5 class="card-title text-center">Choose Teams</h5>
            <br>
            <div class="d-flex justify-content-around align-items-center">
              <div class="d-flex justify-content-between align-items-center flex-wrap" id="left_side_placer" style="width: 200px;">
                
           </div>
           <div><h1>VS</h1></div>
           <div class="d-flex justify-content-between align-items-center flex-wrap" id="right_side_placer" style="width: 200px;" >
           </div>
            </div>
            <div class="text-center">
                <br><br>
              <span class="btn btn-success team-continue">Continue</span>
            </div>
            <br>
          </div>
      </div>
      <!--Choose Match panel end-->
        <!--Choose players panel start-->
        <div class="card mt-4" id="choose_player" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Choose atleast 6 players from each Team</h5>
            <br>
            <div class="d-flex justify-content-around aligh-items-start">
              <div id="team_one_head">
                
              </div>
              <div id = "team_two_head">
    
              </div>
            </div>
            <br>
            <div class="d-flex justify-content-around align-items-start">
             <div class="d-flex justify-content-between align-items-center flex-wrap" id="team_one" style="width: 450px;">
                  
             </div>
             <div class="d-flex justify-content-between align-items-center flex-wrap" id='team_two' style="width: 450px;" >
                  
             </div>
            </div>
            <div class="text-center">
                <br><br>
              <span class="btn btn-success team-continue" id="submit_players">Continue</span>
            </div>
            <br>
          </div>
      </div>
        <!--Choose Players panel end-->
        <!--Number of Teams to be Generated start-->
        <div class="card mt-4" id="generate_panel" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Enter the number of teams you want to Generate</h5>
            <p class="text-center">you can only generate teams of  11 - 3333 teams only!</p>
            <br><br>
            <div class="container d-flex justify-content-center" width="600px">
              <input type="text" class="form-control" style="width: 300px;" placeholder="Enter Number Of Teams" id="number_teams">
              <span class="btn btn-primary" id="team_number">Generate Teams</span>
            </div>
            <br>
            <br>
          </div>
      </div>
        <!--Number of Teams to be Generated end -->
        <!--fixed players panel start-->
        <div class="card mt-4" id="fixed_player" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Select Fixed Players in your Teams</h5>
            <h6 class="card-title text-center">you can select between 0 - 9 players</h6>
            <br>
            <div class="d-flex justify-content-around aligh-items-start">
              <div id="fixed_team_one_head">
                
              </div>
              <div id = "fixed_team_two_head">
    
              </div>
            </div>
            <br>
            <div class="d-flex justify-content-around align-items-start">
             <div class="d-flex justify-content-between align-items-center flex-wrap" id="fixed_team_one" style="width: 450px;">
                  
             </div>
             <div class="d-flex justify-content-between align-items-center flex-wrap" id='fixed_team_two' style="width: 450px;" >
                  
             </div>
            </div>
            <div class="text-center">
                <br><br>
              <span class="btn btn-success team-continue" id="submit_fixed_players">Continue</span>
            </div>
            <br>
          </div>
      </div>
        <!--fixed player panel end-->
        <!--captain panel start-->
        <div class="card mt-4" id="captain_panel" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Select The Players you want consider for Captain </h5>
            <h6 class="card-title text-center">select atleast 1 players </h6>
            <br>
            <div class="d-flex justify-content-around aligh-items-start">
              <div id="captain_team_one_head">
                
              </div>
              <div id = "captain_team_two_head">
    
              </div>
            </div>
            <br>
            <div class="d-flex justify-content-around align-items-start">
             <div class="d-flex justify-content-between align-items-center flex-wrap" id="captain_team_one" style="width: 450px;">
                  
             </div>
             <div class="d-flex justify-content-between align-items-center flex-wrap" id='captain_team_two' style="width: 450px;" >
                  
             </div>
            </div>
            <div class="text-center">
                <br><br>
              <span class="btn btn-success team-continue" id="submit_captain_players">Continue</span>
            </div>
            <br>
          </div>
      </div>
        <!--captain panel end-->
        <!--vice captain panel start-->
        <div class="card mt-4" id="vice_captain_panel" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Select The Players you want consider for Vice Captain </h5>
            <h6 class="card-title text-center">select atleast 1 players </h6>
            <br>
            <div class="d-flex justify-content-around aligh-items-start">
              <div id="vice_captain_team_one_head">
                
              </div>
              <div id = "vice_captain_team_two_head">
    
              </div>
            </div>
            <br>
            <div class="d-flex justify-content-around align-items-start">
             <div class="d-flex justify-content-between align-items-center flex-wrap" id="vice_captain_team_one" style="width: 450px;">
                  
             </div>
             <div class="d-flex justify-content-between align-items-center flex-wrap" id='vice_captain_team_two' style="width: 450px;" >
                  
             </div>
            </div>
            <div class="text-center">
                <br><br>
              <span class="btn btn-success team-continue" id="submit_vice_captain_players">Continue</span>
            </div>
            <br>
          </div>
      </div>
        <!-- vice captain panel end-->
        <!--Credit Range start-->
        <div class="card mt-4" id="credit_range" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Enter Credit Range</h5>
            <h6 class="card-title text-center">credits for the generated teams</h6>
            <br>
            <div class="container d-flex justify-content-center" width="600px">
              <input type="number" class="form-control" style="width: 180px;" placeholder="Starting Credits" id="credit_start_value">
              <input type="number" class="form-control" style="width: 180px;" placeholder="Ending Credits" id="credit_end_value">
              <span class="btn btn-primary" id="credit_range_continue">Continue</span>
            </div>
            <br>
            <br>
          </div>
      </div>
        <!--Credit Range end  -->
        <!--team side number start-->
        <div class="card mt-4" id="team_side" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Team Partision Strategy</h5>
            <h6 class="card-title text-center">Select Atleast one strategy</h6>
            <h6 class="card-title text-center" id="team_one_label"></h6>
            <h6 class="card-title text-center" id="team_two_label"></h6>
            <br>
            <div class="container d-flex justify-content-around" style="width:500px">
              <table class="mystrat border-grey" id="team_side_data">
                <tr><td>Team -1 : </td><td><b>4</b></td></tr>
                <tr><td>Team -2 : </td><td><b>7</b></td></tr>
              </table>
              <table class="mystrat border-grey" id="team_side_data">
                <tr><td>Team -1 : </td><td><b>5</b></td></tr>
                <tr><td>Team -2 : </td><td><b>6</b></td></tr>
              </table>
              <table class="mystrat border-grey" id="team_side_data">
                <tr><td>Team -1 : </td><td><b>6</b></td></tr>
                <tr><td>Team -2 : </td><td><b>5</b></td></tr>
              </table>
              <table class="mystrat border-grey" id="team_side_data">
                <tr><td>Team -1 : </td><td><b>7</b></td></tr>
                <tr><td>Team -2 : </td><td><b>4</b></td></tr>
              </table>
            </div>
            <div class="text-center">
              <span class="btn btn-primary" id="team_side_continue">Continue</span>
            </div>
            <br>
            <br>
          </div>
      </div>
        <!--team side number end  -->
        <!--captain selection start-->
        <div class="card mt-4" id="captain_selection" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">From What Credits You want to consider Captain & Vice Captain?</h5>
            <h6 class="card-title text-center">ideal values will be 7,8,8.5,9 </h6>
           
            <br>
            <div class="container d-flex justify-content-center" width="600px">
              <input type="text" class="form-control" style="width: 300px;" placeholder="Enter Minimum Credits" id="captain_selection_value">
              <span class="btn btn-primary" id="captain_selection_continue">Continue</span>
            </div>
            <br>
            <br>
          </div>
      </div>
        <!--captain selection end  -->
        <!--Strategy panel start-->
        <div class="card mt-4" id="strategy" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Select Atleast one Strategy</h5>
            <h6 class="card-title text-center">strategies of your teams</h6>

            <br>
            <div class="d-flex justify-content-around align-items-center flex-wrap p-4 mr-auto ml-auto" id="strategy_placer" style="width: 800px;">
              
            </div>
            <br>
            <div class="text-center">
              <span class="btn btn-success" id="strategy_continue">Continue</span>
            </div>
            <br>
          </div>
      </div>
        <!--Strategy panel end  -->
        
        <!--Match Number start-->
        <div class="card mt-4" id="match_number" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Enter Match Number</h5>
            <br>
            <div class="container d-flex justify-content-center" width="600px">
              <input type="number" class="form-control" style="width: 300px;" placeholder="Enter Match Number" id="match_number_value">
              <span class="btn btn-primary" id="match_number_continue">Continue</span>
            </div>
            <br>
            <br>
          </div>
      </div>
        <!--Match Number end  -->
        <!--Show Generated Teams start-->
        <div class="card mt-4" id="teams_vp" style="display: none;" >
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <div class="d-flex justify-content-around align-items-center">
              <h5 class="card-title text-center">Generated Teams</h5>
              <span class="btn btn-primary" onclick="window.print()">print</span>
            </div>
            <br>
            <div class="container d-flex justify-content-around flex-wrap" id="team_placer" width="600px">
             
            </div>
            <br>
            <br>
          </div>
      </div>
        <!--Show Generated Teams  end  -->
        <!--Show results start-->
        <div class="card mt-4" id="results_vp" style="display: none;" >
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Results of Your Generation</h5>
            <br>
            <div class="container d-flex justify-content-around flex-wrap" id="team_result_placer" width="600px">
             
            </div>
            <br>
            <br>
          </div>
      </div>
        <!--Show results  end  -->
         <!--Match Number - Match result start-->
         <div class="card mt-4" id="match_result_number" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body">
            <h5 class="card-title text-center">Enter Match Number</h5>
            <br>
            <div class="container d-flex justify-content-center" width="600px">
              <input type="number" class="form-control" style="width: 300px;" placeholder="Enter Match Number" id="match_result_number_value">
              <span class="btn btn-primary" id="match_result_number_continue">Continue</span>
            </div>
            <br>
            <br>
          </div>
      </div>
        <!--Match Number Match result end  -->
        <!--Match Number Details start-->
        <div class="card mt-4" id="match_detail" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body d-flex flex-column align-items-center" id="match_detail_container">
            <h5 class="card-title text-center"> Match Details</h5>
            <br>
            <div class="d-flex justify-content-around aligh-items-start" style="width: 900px;">
              <div id="team_one_vp_head">
                
              </div>
              <h3>vs</h3>
              <div id = "team_two_vp_head">
    
              </div>
            </div>
            
            <br>
            <br>
          </div>
      </div>
        <!--Match Number Details end -->
        <!--update player points start-->
        <div class="card mt-4" id="player_points" style="display: none;">
          <div class="card-header text-center">
           Dream 11 Team Generator
          </div>
          <div class="card-body d-flex flex-column align-items-center">
            <h5 class="card-title text-center"> Update Player Points </h5>
            <br>
            <div class="d-flex justify-content-around aligh-items-start" style="width: 900px;">
              <div id="team_one_kvp_head">
                
              </div>
              <h3>vs</h3>
              <div id = "team_two_kvp_head">
    
              </div>
            </div>
            <br>
            <div class="d-flex justify-content-between aligh-items-start" style="width: 1000px;">
              <div id="team_one_points" class="d-flex justify-content-around align-items-start flex-wrap" style="width: 450px;">
                
              </div>
              <div id = "team_two_points" class="d-flex justify-content-around align-items-start flex-wrap" style="width: 450px;">
               
              </div>
            </div>
            <br>
            <div class="text-center">
              <span class="btn btn-success" id="update_points_continue">Update Points</span>
            </div>
            <br>
          </div>
      </div>
        <!--update palyer points end -->
        </div>
    </div>
   
    <br><br>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/error.js" defer ></script>
    <script src="js/dynamic_team.js" defer ></script>
    <script src="js/fixed_player.js" defer ></script>
    <script src="js/captain.js" defer ></script>
    <script src="js/vice_captain.js" defer ></script>
    <script src="js/change_data.js" defer></script>
    <script src="js/team_generation_helper.js" defer ></script>
    <script src="js/team_generation.js" defer ></script>
    <script src="js/helper_script_one.js" defer ></script>
    <script src="js/match_result.js" defer ></script>
    <script src="js/team_player.js" defer ></script>
    <script src="js/script.js" defer ></script>
</body>
</html>